body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

p {
    font-size: 12pt;
}

* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;

    outline-color: var(--highlight-color-light);
}
:root {
    --paragraph-font-size-small: 12pt;
    --paragraph-font-size-medium-small: 13pt;
    --paragraph-font-size-medium: 14pt;

    --bg-color-dark: #222;
    --bg-color-medium: #333;
    --bg-color-light: #444;
    --bg-color-extra-light: #555;
    --bg-color-article: white;
    --text-color-light: white;
    --text-color-dark: black;
    --highlight-color-light: #79ddeb;
    --text-color-dark: black;
    --theme-color-light-grey: #ccc;
    --theme-color-light-green: #acd2ac;
    --theme-color-light-yellow: #fada11;
    --theme-color-light-pink: #ffb1c9;
    --theme-color-light-blue: #79ddeb;
    --theme-color-dark-blue: #005a8f;
    --theme-color-dark-purple: #81277d;
    --theme-color-dark-red: #a7162b;
    --theme-color-dark-brown: #784f30;
}
