body {
    margin: 0;
}

p {
    font-size: 12pt;
}

* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;

    outline-color: var(--highlight-color-light);
}
:root {
    --paragraph-font-size-small: 12pt;
    --paragraph-font-size-medium-small: 13pt;
    --paragraph-font-size-medium: 14pt;

    --bg-color-dark: #222;
    --bg-color-medium: #333;
    --bg-color-light: #444;
    --bg-color-extra-light: #555;
    --bg-color-article: white;
    --text-color-light: white;
    --text-color-dark: black;
    --highlight-color-light: #79ddeb;
    --text-color-dark: black;
    --theme-color-light-blue: #79ddeb;

    --footer-height: 300px;
}
